<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedDomains</key>
	<array>
		<string>applinks:tpsales</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>tpSales</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tpsales</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>mailto</string>
		<string>sms</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSPinnedDomains</key>
		<dict>
			<key>api.msales.tataplay.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>JJPcv9/Un6XiBuG3U/laneLcs+B4jZKbv3D5oWYJ+tg=</string>
					</dict>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>Wec45nQiFwKvHtuHxSAMGkt19k+uPSw9JlEkxhvYPHk=</string>
					</dict>
				</array>
			</dict>
			<key>d3oaantw5vj2sn.cloudfront.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>6zbx07xg+bfsDk+vJhMMPK9JhWrLRqY0hSmEICPpi+k=</string>
					</dict>
				</array>
			</dict>
			<key>uat-embed-dashboards.tataplay.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSPinnedLeafIdentities</key>
				<array>
					<dict>
						<key>SPKI-SHA256-BASE64</key>
						<string>ABrGAacgB7U+wH5aN6m32SG6q3ja8/UhAetqz+2rE8M=</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>

	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) Need Camera access to capture Image and scan QR Code. </string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>We need your location to provide better services while you're using the app.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We need your location even when the app is in the background to provide continuous service.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>We need your location always to ensure seamless experience and features.</string>

	<key>UIAppFonts</key>
	<array>
		<string>VoltePlay-Bold.ttf</string>
		<string>VoltePlay-Medium.ttf</string>
		<string>VoltePlay-Regular.ttf</string>
		<string>VoltePlay-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.tpsales</string>
				<string>msauth.com.tpsales</string>
			</array>


		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
	</array>

</dict>
</plist>
